<html>
  <head>
    <style></style>
  </head>
  <body>
    <p>Hi User,</p>
    <p>Your account has been created successfully. Here are your login details:</p>
    <ul>
      <li>Email: {{email}}</li>
      <li>Temporary Password: {{temporaryPassword}}</li>
    </ul>
    <p>Please log in and change your password as soon as possible.</p>
    <p>Best regards,</p>
    <p>The Team</p>
  </body>
</html>